<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58995919040-rb87elf64unbfekn9as0qs51805es955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58995919040-rb87elf64unbfekn9as0qs51805es955</string>
	<key>API_KEY</key>
	<string>AIzaSyD3XbUrMOVBy7JtE_udUTUliLuXRkxp7AA</string>
	<key>GCM_SENDER_ID</key>
	<string>58995919040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.marieanusorn</string>
	<key>PROJECT_ID</key>
	<string>marieanusorn-bd47d</string>
	<key>STORAGE_BUCKET</key>
	<string>marieanusorn-bd47d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58995919040:ios:cf5b3d3aecacbb76ba4525</string>
	<key>DATABASE_URL</key>
	<string>https://marieanusorn-bd47d.firebaseio.com</string>
</dict>
</plist>